h1 {
    color: peru;
    background-color: beige;    
    font-size: 80px
}

h2 {
    color: floralwhite;
    background-color: lightseagreen;
    font-size: 80px
}

p {
    color: royalblue;
    background-color: lightseagreen;
    font-size: 80px
}