h1 {
    color: palevioletred;
    font-size: 150%;
}

div {
    color: plum;
    font-size: 50%;
}

ul {
    color: rgb(48, 199, 62);
    font-size: 2rem
}
/* rem 은 상속의 영향을 받지 않고, em은 상속의 영향을 받음 */

div > h2 {
    color: goldenrod;
    font-size: 5em;
}