div {
    height: 100px;
    width: 100px;
    background-color: antiquewhite;
    line-height: 100px;
    text-align: center;
}

.relative {
    position: relative;
    top: 100px;
    left: 100px;
}

.parent {
    position: relative;
}

.absolute-child {
    position: absolute;
    top: 100px;
    left: 100px;
}

.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}